.flex justify-between {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.navbar flex items-center{
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .flex justify-between {
    justify-content: center;
  }

  .navbar flex items-center {
    margin: 0 1rem;
  }
}

.navbar flex items-center a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.navbar flex items-center a:hover {
  background: var(--main-blue);
}
