@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}


.container {
    max-width: 95vw;
    font-family: 'Ubuntu', sans-serif;
    padding: 38px;
    background-color: #DFF6FF;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.navbar_items {
    display: flex;
    height: 67px;
}
.navbar_items ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar_items ul li a{
    text-decoration: none;
    transition: 0.3s all;
    font-size: 28px;
}

#animatext{
    padding-left: 6em;
    margin-bottom: 1.3em;
    text-align: center;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(18) infinite alternate;
    border-right: 3px solid black;
    font-size: 60px;
}

@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 18ch;
    }
}

.hover-line{
    color: #ffff;
    margin: 8px;
    padding: 10px 17px;
    display: block;
    background-color: #256D85;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 7px;
}
.navbar_items ul li a:hover {
    color: orange;
}
.hover-line::after {
    content:'';
    display: block;
    color: orange;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition:width .3;

}
.hover-line:hover::after {
    width: 100%;
    transition:width .3s;
}

.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.section1 {
    max-height: 100vh;
}

.section1 h1 {
    font-size: 2rem;
}

.logo {
    font-size: 2rem;
}

.cello-icon {
    width: 200px;
}

.topright .combined {
    width: 548px;
    height: 417.367px;
}

.section2 {
  
    padding-right: 90px;
}

.section2 h1 {
    font-size: 2.3rem;
}

.section2 h2 {
    font-size: 1.7rem;
}

.section2 p {
    padding: 0 8vw;
    text-align: center;
}

.box {
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 19vw;
    border: 2px solid #06283D;
    border-radius: 10px;
    text-align: center;
}

.box h2 {
    padding: 17px 0;
}

.highlighted {
    font-size: 1.3rem;
    font-weight: bold;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;

}

.section3 {
    padding-left: 50px;
    padding-right: 50px;
}

.section3 h2 {
    font-size: 1.6rem;
}

.section3 p {
    padding: 0 7vw;
    text-align: center;
}

.products .image1 {
    padding: 10px 5px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

}

.products .image2 {
    padding: 10px 5px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

}

.products .image3 {
    padding: 10px 5px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

}

.products .image4 {
    padding: 10px 5px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

}

footer {
    padding: 23px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

h1.text-center.my-2 {
    color: #0a4d63;
}
.navnav{
    background-color: #044e6b;
}

.box{
    background-color:#25a6d1;
}

.timer{
    color: rgb(15, 134, 89);
}


/* FOOTER */

.containerr{
	max-width: 1400px;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
   
}
.footer{
	background-color: #24262b;
    padding: 60px 0;
    margin-top: 5rem;
}
.footer-col{
   width: 17%;
   padding: 0 40px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  padding-left: 34px;
  text-align:left;
  
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
  margin-left: 34px;
}
.footer-col ul li{
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    text-align: justify;
    padding-left:34px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links{
  margin-left:21px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 1px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* MEDIA QUERIES */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.containerr{
    max-width: 1050px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 50%;
    text-align: left;
}
.social-links{
    width: 100vw;
    display: flex;
    justify-content: start;
}
   .footer-col .social-links a{
    margin:0 7px 10px 0; 
   }


}

@media (min-width: 640px) {
    .containerr{
        max-width: 640px;
    }

}



@media (min-width: 1024px) {
    .containerr{
        max-width: 1024px;
    }

}


@media (min-width: 1280px) {
    .containerr{
        max-width: 1280px;
    }
}

