@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ecdfdf;
}

.container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background: #FFE3E1;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 6px;
    font-family:sans-serif;
}

nav ul li a{
    color: #FA7070;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ff8080;
    transition: .3s;
}

button{
    border: none;
    background:  #ff8080;
    padding: 11px 15px;
    border-radius: 33px;
    color: #fff;
    font-size: 15px;
    transition: .4s;
    position: absolute;
    top: 82px;
    right: 111px;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}


.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.section1 {
    max-height: 100vh;
    font-weight: 300;
    color: red;
}

.section1 h1 {
    font-size: 2rem;
}

.logo {
color: #FA7070;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;

}
span{
    color:  #ff8080;
}

.cello-icon {
    width: 200px;
}

.topright .combined {
    width: 548px;
    height: 417.367px;
}

.section2 {
    padding-left: 63px;
    padding-right: 63px;
}

.section2 h1 {
    font-size: 2.3rem;
    font-color: yellow;
}

.section2 h2 {
    font-size: 1.7rem;
}

.section2 p {
    padding: 0 8vw;
    text-align: center;
}

.box {
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 19vw;
    border: 2px solid rgb(204, 92, 92);
    border-radius: 10px;
    text-align: center;
}

.box h2 {
    padding: 17px 0;
    background-color: black;
}

.highlighted {
    font-size: 1.3rem;
    font-weight: bold;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.section3 {
    padding-left: 50px;
    padding-right: 50px;
}

.section3 h2 {
    font-size: 1.6rem;
}

.section3 p {
    padding: 0 7vw;
    text-align: center;
}

.products .image1 {
    padding: 10px 5px;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;

}

.products .image2 {
    padding: 10px 5px;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;

}

.products .image3 {
    padding: 10px 5px;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;

}

.products .image4 {
    padding: 10px 5px;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;

}

footer {
    padding: 23px;
    text-align: center;
}

.navbar li{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    cursor: pointer; 
    color: #fff;
}

.deal {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgb(167, 77, 77);
}
#section1{
    padding: 20px;
    margin: 10px;
}
#section2{
    padding: 20px;
    margin: 10px;
}
#section3{
    padding: 20px;
    margin: 10px;
}
.home, .products, .about, .pricing{
    color: blue;
    text-decoration: none;
}
.home:hover{
    color: green;
} 
.products:hover{
    color : green;
} .about:hover{
    color: green;
}.pricing:hover{
    color: green;
}

.my-3{
    text-align: center;
}

.flex{
   text-align: center;
    justify-content: space-between;
}

.imageAtEnd{
    padding : 30px 250px;
}
