.min-h-screen {
    min-height: 100vh;
}

.bg-yellow {
    background-color: yellow;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-around
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.font-bold {
    font-weight: bolder;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}


.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}

.my-3 {
    margin-top: 23px;
    margin-bottom: 23px;
}

.px-2 {
    padding-left: 90px;
    padding-right: 249px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.text-blue {
    color: #06283D;
}

.btn {
    text-decoration: none;
    padding: 13px 18px;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background-color: #256D85;
}

.btn:hover{
    background-color: #ddd;
    color: black;
    opacity: 1;
    transition: all 0.7s ease;
    transform: scale(1.1) perspective(1.1px)
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}